body{
    background: white url("images/background.png");
}

div[class^='col-']{
    padding-bottom:20px;
}

.game-thumb{
    width:auto;
    height:auto;
    max-height:150px;
    margin: auto;
    display:block;
        max-width: -webkit-fill-available;
}

.console-thumb{
   height:300px;
}

.game-thumb-wrap{
    white-space: nowrap;
    overflow: hidden;
}

.border-shadow{
     -moz-box-shadow:    inset 0 0 3px #000000;
   -webkit-box-shadow: inset 0 0 3px #000000;
   box-shadow:         inset 0 0 3px #000000;
   padding:5px;
   overflow:hidden;
}

.navbar{
    border-radius: 0px !important;
}

.navbar-brand{
    font-family: '';
}

.publisher{
    margin-top: 0 !important;
}
