{% extends 'games/base.html' %}


{% block body %}

    {% if all_consoles %}


    <div class="container">
      <div class="row">

          {% for console in all_consoles %}

        <div class="col-xs-12 col-sm-6 col-md-3">
            <a href="{% url 'games:console_games' console.id %}">
<div class="border-shadow console-thumb">
                <div class="row">

                    <div class="col-xs-12 col-sm-12 col-md-12">
                        <img class="game-thumb" src="{{ console.image.url }}" />
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-12">

                        <div class="row">

                            <div class="col-xs-12 col-sm-12 col-md-12"><h2>{{ console.name }}</h2></div>
                            <div class="col-xs-6 col-sm-6 col-md-6"><h3 class="publisher">{{ console.publisher }}</h3></div>
                            <div class="col-xs-2 col-sm-2 col-md-2">
                            <!-- Update Console -->
                                <form action="{% url 'games:console_update' console.id %}" method="get" style="display: inline;">
                                    {% csrf_token %}
                                    <input type="hidden" name="game_id" value="{{ game.id }}" />
                                    <button type="submit" class="btn btn-default btn-sm">
                                        <span class="glyphicon glyphicon-pencil"></span>
                                    </button>
                                </form>
                             </div>
                            <div class="col-xs-2 col-sm-2 col-md-2">
                            <!-- Delete Console -->
                                <form action="{% url 'games:console_delete' console.id %}" method="post" style="display: inline;">
                                    {% csrf_token %}
                                    <input type="hidden" name="game_id" value="{{ game.id }}" />
                                    <button type="submit" class="btn btn-default btn-sm">
                                        <span class="glyphicon glyphicon-trash"></span>
                                    </button>
                                </form>
                            </div>

                        </div>
                    </div>


                </div>
</div>

            </a>
        </div>

        {% endfor %}
      </div>

    </div>

    {% else %}

    <h3>No consoles to list...</h3>

    {% endif %}

{% endblock %}